noderedconfig.txt
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"67efca3d.683da4","type":"http in","z":"f6f2187d.f17ca8","name":"RegistrationSuccess","url":"/registrationSuccess","method":"post","upload":false,"swaggerDoc":"","x":530,"y":440,"wires":[["f97d7836.774d38"]]},{"id":"b00591da.6c634","type":"http response","z":"f6f2187d.f17ca8","name":"Success","statusCode":"200","headers":{},"x":1380,"y":440,"wires":[]},{"id":"b9e7db87.43b548","type":"function","z":"f6f2187d.f17ca8","name":"","func":"msg.headers = {}\nmsg.method = \"POST\"\nmsg.headers[\"content-type\"] = \"application/json\"\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":440,"wires":[["f1c5da7d.a0fb58"]]},{"id":"f1c5da7d.a0fb58","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"POST","ret":"txt","paytoqs":"body","url":"http://127.0.0.1:8000/api/registrationSuccess","tls":"","persist":false,"proxy":"","authType":"","x":1150,"y":440,"wires":[["b00591da.6c634"]]},{"id":"f97d7836.774d38","type":"json","z":"f6f2187d.f17ca8","name":"","property":"payload","action":"","pretty":false,"x":750,"y":440,"wires":[["b9e7db87.43b548"]]},{"id":"eaa829e5.d3ee58","type":"http in","z":"f6f2187d.f17ca8","name":"SubmissionRequest","url":"/submissionRequest","method":"post","upload":false,"swaggerDoc":"","x":530,"y":540,"wires":[["8ba77dff.0f55c"]]},{"id":"af06a995.0a4418","type":"http response","z":"f6f2187d.f17ca8","name":"Success","statusCode":"200","headers":{},"x":1380,"y":540,"wires":[]},{"id":"e4e24ae5.61c2f8","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"POST","ret":"txt","paytoqs":"body","url":"http://127.0.0.1:8000/api/submissionRequest","tls":"","persist":false,"proxy":"","authType":"","x":1150,"y":540,"wires":[["af06a995.0a4418"]]},{"id":"600f1c0d.9ce624","type":"http in","z":"f6f2187d.f17ca8","name":"RequestSuccess","url":"/requestSuccess","method":"post","upload":false,"swaggerDoc":"","x":520,"y":620,"wires":[["78a407cb.dcc748"]]},{"id":"9bb7b0e.566fb5","type":"http response","z":"f6f2187d.f17ca8","name":"Success","statusCode":"200","headers":{},"x":1380,"y":620,"wires":[]},{"id":"ecca32ed.14f7f","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"POST","ret":"txt","paytoqs":"body","url":"http://127.0.0.1:8000/api/requestSuccess","tls":"","persist":false,"proxy":"","authType":"","x":1150,"y":620,"wires":[["9bb7b0e.566fb5"]]},{"id":"8ba77dff.0f55c","type":"json","z":"f6f2187d.f17ca8","name":"","property":"payload","action":"","pretty":false,"x":750,"y":540,"wires":[["16a9811c.4f1c4f"]]},{"id":"16a9811c.4f1c4f","type":"function","z":"f6f2187d.f17ca8","name":"","func":"msg.headers = {}\nmsg.method = \"POST\"\nmsg.headers[\"content-type\"] = \"application/json\"\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":540,"wires":[["e4e24ae5.61c2f8"]]},{"id":"78a407cb.dcc748","type":"json","z":"f6f2187d.f17ca8","name":"","property":"payload","action":"","pretty":false,"x":746,"y":620,"wires":[["4c785445.9f52bc"]]},{"id":"4c785445.9f52bc","type":"function","z":"f6f2187d.f17ca8","name":"","func":"msg.headers = {}\nmsg.method = \"POST\"\nmsg.headers[\"content-type\"] = \"application/json\"\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":946,"y":620,"wires":[["ecca32ed.14f7f"]]}]
